$mdc-theme-primary: #009688;
$mdc-theme-secondary: #009688;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #000000;

@import '@material/react-icon-button/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-switch/index.scss';
@import '@material/react-button/index.scss';
@import '@material/react-dialog/index.scss';
@import '@material/react-text-field/index.scss';
@import "@material/react-checkbox/index.scss";
@import "@material/react-list/index.scss";
@import "@material/react-menu-surface/index.scss";
@import "@material/react-menu/index.scss";
@import "@material/react-select/index.scss";
@import '@material/react-typography/index.scss';


::-moz-selection {
  background: rgba(0, 150, 136, 0.25);
}

::selection {
  background: rgba(0, 150, 136, 0.25);
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  padding-left: 64px;
  padding-right: 64px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.add-btn {
  float: right;
}

.color-dialog-main-content {
  margin-top: 32px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.color-preview-box {
  min-width: 275px;
  padding: 16px 64px 16px 16px;
}

.color-list {
  margin-left: 32px;
  margin-right: 32px;
  min-width: 140px;
}

.color-item {
  cursor: pointer;
  margin-left: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 4px 8px;
}

.color-block {
  display: inline;
  float: left;
  margin-right: 4px;
  transform: translateY(4px);
  width: 16px;
  height: 16px;
}

.sketch-picker {
  box-shadow: none !important;
}

.mdc-dialog .mdc-dialog__surface {
  max-width: none !important;
}

label {
  text-align: center;
  line-height: 40px;
}

h5 {
  margin-bottom: 16px;
}

.preview-color-block {
  margin: 2px;
  width: 16px;
  height: 16px;
}

.preview-color-div {
  margin-left: 32px;
  padding: 2px;
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.color-scheme-name {
  margin-left: 32px !important;
  color: rgba(0, 0, 0, 0.6) !important;
}

span:focus {
  outline: none;
}

.url-textfield {
  width: 100%;
  min-width: 450px;
}

.selector-textfield {
  margin-top: 16px;
  width: 100%;
}

.color-scheme-select {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-top: 16px;
  margin-bottom: -16px;
}

.enable-switch {
  margin-left: 8px;
  transform: translateY(2px);
}

.mdc-top-app-bar__title {
  color: #fff;
}

#enable-label {
  font-size: 14px;
}