body {
    margin: 0;
    padding: 0;
}

.content{
    padding-left: 64px;
    padding-right: 64px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.add-btn{
    float: right;
}

.color-dialog-main-content{
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.color-preview-box{
    padding: 16px;
    padding-right: 64px;
}

.color-list{
    margin-left: 32px;
    margin-right: 32px;
}

.color-item{
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.color-block{
    display: inline;
    float: left;
    margin-right: 4px;
    transform: translateY(4px);
    width: 16px;
    height: 16px;
}

.sketch-picker{
    box-shadow: none !important;
}

.mdc-dialog .mdc-dialog__surface {
    max-width: none !important;
}