body {
    margin: 0;
    padding: 0;
}

.content {
    padding-left: 64px;
    padding-right: 64px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.add-btn {
    float: right;
}

.color-dialog-main-content {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.color-preview-box {
    min-width: 275px;
    padding: 16px 64px 16px 16px;
}

.color-list {
    margin-left: 32px;
    margin-right: 32px;
    min-width: 140px;
}

.color-item {
    cursor: pointer;
    margin-left: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 4px 8px;
}

.color-block {
    display: inline;
    float: left;
    margin-right: 4px;
    transform: translateY(4px);
    width: 16px;
    height: 16px;
}

.sketch-picker {
    box-shadow: none !important;
}

.mdc-dialog .mdc-dialog__surface {
    max-width: none !important;
}

label {
    text-align: center;
    line-height: 40px;
}

h5 {
    margin-bottom: 16px;
}

.preview-color-block {
    margin: 2px;
    width: 16px;
    height: 16px;
}

.preview-color-div {
    margin-left: 32px;
    padding: 2px;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.color-scheme-name{
    margin-left: 32px !important;
    color: rgba(0,0,0,0.6) !important;
}

span:focus {
    outline: none;
}

.url-textField{
    width: 100%;
    min-width: 450px;
}

.color-scheme-select{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}